# Ignore system files
.DS_Store
Thumbs.db
ehthumbs.db

# PHP / environment
.env
.env.*
*.log
*.cache

# Composer
vendor/
composer.lock

# Node dependencies
node_modules/

# IDE/editor folders
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Backup and temporary files
*.bak
*.broken
*~
# PHPStorm
*.iml

# OS files
desktop.ini

# Optional logs
npm-debug.log*
yarn-debug.log*
